@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #fdfaf1;
		--emerald-50: #d8f3dc;
		--emerald-100: #b7e4c7;
		--emerald-200: #95d5b2;
		--emerald-300: #74c69d;
		--emerald-400: #52b788;
		--emerald-500: #40916c;
		--emerald-600: #2d6a4f;
		--emerald-700: #1b4332;

		--slate-50: #f8fafc;
		--slate-100: #f1f5f9;
		--slate-200: #e2e8f0;
		--slate-300: #cbd5e1;
		--slate-400: #94a3b8;
		--slate-500: #64748b;
		--slate-600: #475569;
		--slate-700: #334155;
		--slate-800: #1e293b;
		--slate-900: #0f172a;

		--radius: 12px;
	}

	.dark {
		--background: #1a202c;
		--foreground: 0 0% 100%;
		--muted-foreground: 0 0% 60%;
		--accent-foreground: 0 0% 90%;
	}
}

@layer base {
	* {
		@apply font-['Roboto'];
	}

	body {
		@apply bg-background;
	}
}
